<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>AllClientsServlet</servlet-name>
        <servlet-class>com.example.demo.AllClientsServlet</servlet-class>
    </servlet>

    <!-- Mapper la servlet à une URL pour la suppression -->
    <servlet-mapping>
        <servlet-name>AllClientsServlet</servlet-name>
        <url-pattern>/deleteClient</url-pattern>
    </servlet-mapping>

    <!-- Mapper la servlet à une URL pour l'ajout -->
    <servlet-mapping>
        <servlet-name>AllClientsServlet</servlet-name>
        <url-pattern>/addClient</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AllClientsServlet</servlet-name>
        <url-pattern>/updateClient</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AllClientsServlet</servlet-name>
        <url-pattern>/savechangesClient</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AllClientsServlet</servlet-name>
        <url-pattern>/searchClient</url-pattern>
    </servlet-mapping>

</web-app>
